/* ==========================
   Reset e Normalizzazione
   ========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset e normalizzazione */

/* ==========================
   Commenti di Debugging
   ========================== */
.debug {
    background-color: greenyellow;
    height: 100px;
    border: 1px solid black;
}

/* Commenti utilizzati temporaneamente per il debug */

/* ==========================
   Utility
   ========================== */
:root {
    --blue: #0084fd;
    --lightblue: #b5ddff;
    --viola: #9792e4;
    --spaziatura: 1.5625rem;
    --spaziatura-grande: calc(var(--spaziatura) * 2);
    --larghezza: calc((100% - var(--spaziatura-grande)) / 3);
}

.contenitore {
    width: 100%;
    max-width: calc(1140px + 2rem * 2);
    padding: 0 2rem;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* Utility */

/* ==========================
   Header
   ========================== */
header {
    background-color: var(--blue);
}

header .contenitore {
    display: flex;
    justify-content: space-between;
}

.visibility {
    display: none;
}

/* Header */

/* ==========================
   Contenuto Principale
   ========================== */
/* ==========================
   Section demo
   ========================== */

#demo {
    padding-top: var(--spaziatura-grande);
    padding-bottom: 6.5rem;
}

#demo.flex {
    flex-wrap: wrap;
    justify-content: space-between;
}

#demo.contenitore {
    gap: var(--spaziatura) 0;
}

#demo .box {
    background-color: var(--lightblue);
}

.box {
    width: var(--larghezza);
}

.grande {
    width: calc(var(--larghezza) * 2 + var(--spaziatura));
}

/*    Section demo */

/* ==========================
   Section Planning
   ========================== */
#planning {
    background-color: var(--viola);
    padding-top: 8.4375rem;
    padding-bottom: 4.3125rem;
}

#planning .flex {
    align-items: flex-end;
}

.colonna {
    margin: 0 2rem;
    width: 100%;
}

/*    Section Planning */

/* ==========================
   Section Testimonials
   ========================== */
#testimonials {
    padding-top: 5.3125rem;
    padding-bottom: 5rem;
}

.row {
    background-color: var(--viola);
    margin: 2rem 0;
    padding: 1.875rem 1rem;
    gap: 4rem;
}

.col-left {
    width: 12.5rem;
}

.col-right {
    width: calc(100% - 16.5rem);
}

/*    Section Testimonials */

/* Contenuto Principale */

/* ==========================
   Footer
   ========================== */
/* Footer */

/* ==========================
   Media Queries
   ========================== */
@media screen and (max-width: 768px) {

    /* ==========================
       Header
       ========================== */
    .visibility {
        display: block;
    }

    .link {
        display: none;
    }

    /* Header */
    /* ==========================
       Contenuto Principale
       ========================== */
    /* ==========================
       Section Planning
       ========================== */
    #planning .flex {
        flex-wrap: wrap;
    }

    #planning .colonna {
        margin: 0;
    }

    /*    Section Planning */
    /* ==========================
               Section Testimonials
               ========================== */
    .row.flex {
        gap: 2rem;
    }

    .col-right {
        width: calc(100% - 14.5rem);
    }

    /*    Section Testimonials */
    /* Contenuto Principale */
}

@media screen and (max-width: 425px) {

    /* ==========================
       Section demo
       ========================== */
    .box {
        width: 100%;
    }

    /* Section demo */
    /* ==========================
       Section Testimonials
       ========================== */
    .row.flex {
        flex-direction: column;
        align-items: center;
        gap: 1.5625rem;
    }

    .col-right {
        width: 100%;
    }

    /*    Section Testimonials */
}

/* Stili per layout responsivi a diverse dimensioni dello schermo */