/* ==========================
   Reset e Normalizzazione
   ========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
}

button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
}

img {
    display: block;
    width: 100%;
}

h5 {
    font-size: 1.5rem;
}

/* Reset e normalizzazione */

/* ==========================
   Commenti di Debugging
   ========================== */
/*.debug {
    background-color: greenyellow;
    height: 100px;
    border: 1px solid black;
}
*/
/* Commenti utilizzati temporaneamente per il debug */

/* ==========================
   Utility
   ========================== */
:root {
    --blue: #0084fd;
    --lightblue: #b5ddff;
    --viola: #9792e4;
    --spaziatura: 1.5625rem;
    --spaziatura-grande: calc(var(--spaziatura) * 2);
    --larghezza: calc((100% - var(--spaziatura-grande)) / 3);
}

.contenitore {
    width: 100%;
    max-width: calc(1140px + 2rem * 2);
    padding: 0 2rem;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Utility */

/* ==========================
   Header
   ========================== */
header {
    background-color: var(--blue);
    padding-top: 1rem;
    padding-bottom: 1.3125rem;
}

header .flex {
    flex-wrap: nowrap;
}

#logo {
    width: 5rem;
}

.link {
    display: flex;
    gap: 2rem;
    align-items: center;
}

header a {
    text-decoration: none;
    color: white;
}

header li button {
    background-color: white;
    padding: .5rem 1rem;
    border-radius: 20px;
}

header li button a {
    color: black;
}

.visibility {
    display: none;
    color: white;
    font-size: 1.5rem;
}

/* Header */

/* ==========================
   Contenuto Principale
   ========================== */
/* ==========================
   Section demo
   ========================== */

#demo {
    padding-top: var(--spaziatura-grande);
    padding-bottom: 6.5rem;
}

#demo.contenitore {
    gap: var(--spaziatura) 0;
}

#demo .box {
    background-color: var(--lightblue);
    width: var(--larghezza);
    padding: 0 1.625rem;
    border-radius: 20px;
}

#demo .box.grande {
    width: calc(var(--larghezza) * 2 + var(--spaziatura));
}

.box.grande .colonna {
    width: 50%;
}

#phone {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#phone img {
    max-width: 250px;
}

#demo .box h5 {
    color: var(--blue);
    margin-top: 2rem;
}

#demo .box.box.grande h5 {
    margin-top: 2.3125rem;
}

#demo .box p {
    color: #5a6e7f;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.5;
    margin: 2rem 0;
}

.box button {
    background-color: var(--blue);
    padding: 1rem 3rem;
    border-radius: 25px;
}

.box button a {
    color: white;
    letter-spacing: .25rem;
    font-weight: bold;
    text-decoration: none;
}

#demo .box button {
    margin-bottom: 3.625rem;
}

/* Section demo */

/* ==========================
   Section Planning
   ========================== */
#planning {
    background-color: var(--viola);
    padding-top: 8.4375rem;
    padding-bottom: 4.3125rem;
}

#planning .flex {
    flex-wrap: nowrap;
    align-items: flex-end;
}

#planning .colonna {
    margin: 0 2rem;
    width: calc(100% - 8rem);
}

/* Section Planning */

/* ==========================
   Section Testimonials
   ========================== */
#testimonials {
    padding-top: 5.3125rem;
    padding-bottom: 5rem;
}

.row {
    background-color: var(--viola);
    margin: 2rem 0;
    padding: 1.875rem 1rem;
    gap: 2vw;
}

.col-left {
    width: 12.5rem;
}

.col-right {
    width: calc(100% - 12.5rem - 2vw);
}

/* Section Testimonials */

/* ==========================
   Section Features
   ========================== */
#features {
    padding-top: 4.875rem;
    padding-bottom: 4rem;
    background-color: var(--viola);
}

#features .contenitore {
    gap: 2rem 0;
}

#features .box {
    background-color: white;
    width: calc((100% - 4rem) / 3);
}

/* Section Features */

/* ==========================
   Sezione About Us
   ========================== */
#about-us {
    padding-top: 6rem;
    padding-bottom: 9.75rem;
}

#about-us .flex {
    flex-wrap: nowrap;
}

#about-us .colonna {
    margin: 0 1.5vw;
}

#about-us .colonna.sinistra {
    flex: 2;
}

#about-us .colonna.destra {
    flex: 1;
}

/* Sezione About Us */

/* ==========================
   Sezione Get Started
   ========================== */
#get-started {
    background-color: var(--viola);
    text-align: center;
    padding: 4.3125rem 0;
}

/* Sezione Get Started */

/* Contenuto Principale */

/* ==========================
   Footer
   ========================== */
footer {
    background-color: #333333;
    text-align: center;
    padding-top: 2.875rem;
    padding-bottom: 2.625rem;
}

/* Footer */

/* ==========================
   Media Queries
   ========================== */
@media screen and (max-width: 991.98px) {

    /* ==========================
       Header
       ========================== */
    .visibility {
        display: flex;
        align-items: center;
    }

    .link {
        display: none;
    }

    /* Header */
    /* ==========================
       Contenuto Principale
       ========================== */

    /* ==========================
       Section demo
       ========================== */
    .box.grande .colonna {
        width: 100%;
    }

    #phone {
        justify-content: flex-end;
        margin-right: 50%;
    }

    #demo .box button {
        margin-bottom: 2.375rem;
    }

    /* Section demo */

    /* ==========================
       Section Planning
       ========================== */
    #planning .flex {
        flex-wrap: wrap;
        gap: 2.25rem 0;
    }

    #planning .colonna {
        margin: 0;
        width: 100%;
    }

    /* Section Planning */

    /* ==========================
       Section Features
       ========================== */

    #features .box {
        width: calc((100% - 2rem) / 2);
    }

    /* Section Features */
    /* Contenuto Principale */
}

@media screen and (max-width: 767.98px) {

    /* ==========================
       Section demo
       ========================== */
    #demo.contenitore .box {
        width: 100%;
    }

    #phone {
        justify-content: center;
        margin-right: 0;
    }

    /* Section demo */
    /* ==========================
       Section Testimonials
       ========================== */
    .row.flex {
        flex-direction: column;
        align-items: center;
        gap: 1.5625rem;
    }

    .col-right {
        width: 100%;
    }

    /* Section Testimonials */
    /* ==========================
       Section Features
       ========================== */

    #features .box {
        width: 100%;
    }

    /* Section Features */

    /* ==========================
       Sezione About Us
       ========================== */

    #about-us .flex {
        flex-direction: column;
        gap: 3.625rem;
    }

    #about-us .colonna {
        margin: 0;
        width: 100%;
    }

    /* Sezione About Us */
}

/* Stili per layout responsivi a diverse dimensioni dello schermo */